/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(178, 229, 76);
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
    font-size: larger;
}

nav>a {
    text-decoration: None;
    color: white;
}

.container-with-grid {
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 80px;
}

h3>a {
    color:rgb(103, 145, 19); 
    text-decoration: None;
}

.list_title {
    color: green;
}
